DATABASE_URL=

BETTER_AUTH_SECRET=
NEXT_PUBLIC_APP_URL=
BETTER_AUTH_URL=

# Data Collector
GOOGLE_MAPS_API_KEY=
MAPBOX_ACCESS_TOKEN=
FOURSQUARE_API_KEY=
GEOAPIFY_API_KEY=

# AI Recommendation Engine
GEMINI_API_KEY=
GEMINI_API_MODEL=